.vs/
bin/
obj/
lib/
.idea/
RotationSolver/Localization/Localization.json
RotationSolver.sln.DotSettings.user
/Resources/AutoStatusOrder.json
/RotationSolver.GameData/RotationSolver.GameData.csproj.user
